<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">
            @{
                SVX.Models.Usuario us = (SVX.Models.Usuario)Session["Usuario"];
                if (us != null)
                {
                    <li class="user-profile treeview">
                        <a href="/Home/MiPerfi">
                                        <div class="text-center rounded-circle text-white bg-dark" style="width:40px; height:40px;">
                                            <h1>@us.nombre.Substring(0, 1)</h1>

                                        </div>
                            <span>@us.nombre @us.apellido</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Home/MiPerfil"><i class="fa fa-user mr-5"></i>Perfil</a></li>
                            <li><a href="/Home/MisAnuncios"><i class="fa fa-money mr-5"></i>Mis anuncios</a></li>
                            <li><a href="/Home/Chat/0/0"><i class="fa fa-envelope-open mr-5"></i>Inbox</a></li>
                            <li><a href="/Home/CerrarSession"><i class="fa fa-power-off mr-5"></i>Logout</a></li>
                        </ul>
                    </li>
                }
            }

            <li class="header nav-small-cap">PERSONAL</li>
            @{
                foreach (var item in ViewBag.categorias)
                {
                    if (item.idSuper == null)
                    {
                        <li class="treeview active">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>@item.nombre</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @foreach (var item2 in ViewBag.categorias)
                                {
                                    if (item2.idSuper == item.idCategoria)
                                    {
                                        <li class="active"><a href="~/Home/Index/@item2.idCategoria"><i class="fa fa-circle-thin"></i>@item2.nombre</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }
            }






        </ul>
    </section>
</aside>

<!-- =============================================== End sidebar -->