@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Anuncios
    </h1>
  
<div class="row">
    <div class="col-sm-6 col-md-6 col-xl-6">
        <a href="/Home/AddProduct" class="btn btn-info"><i class="ion ion-android-add"></i> Agregar Anuncio </a>

    </div>
    <div class="col-sm-6 col-md-6 col-xl-6">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
        {
            <select name="idDepartamento" id="idDepartamento" class="form-control">
                @foreach (var item in ViewBag.departamentos)
                {
                    <option value="@item.idDepartamento">@item.nombre</option>
                }

            </select>
            <button type="submit" class="btn btn-primary mr-5 ">
                <i class="ion-search"></i>
            </button>
        }
    </div>

</div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Anuncios</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row fx-element-overlay">
        @if (ViewBag.productos.Count != 0)
        {
            foreach (var item in ViewBag.productos)
            {
                string nombre = "";
                foreach (var foto in item.Foto)
                {
                    nombre = foto.ruta;
                    break;
                }
                <div class="col-md-12 col-lg-3">
                    <div class="box box-default">
                        <div class="fx-card-item">
                            <div class="fx-card-avatar fx-overlay-1">
                                <img src="~/archivos/@nombre" alt="user">
                                <div class="fx-overlay scrl-dwn">
                                    <ul class="fx-info">
                                        <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/archivos/@nombre"><i class="ion-search"></i></a></li>
                                        <li><a class="btn default btn-outline" href="~/Home/ProductDetails/@item.idAnuncio"><i class="ion-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="fx-card-content ribbon-wrapper-reverse">
                                <div class="ribbon ribbon-bookmark ribbon-right bg-info">@item.precio.ToString("C2")</div>
                                <p class="box-text text-bold">@item.titulo</p>

                            </div>
                        </div>
                    </div>
                </div>
            }
            if (ViewBag.resultados > ViewBag.limite)
            {
                <center>

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline" }))
                    {
                    int limite = ViewBag.limite + 5;

                    <input type="hidden" value="@limite" id="limit" name="limit">
                    <button type="submit" class="btn btn-primary mr-5">
                        Ver mas
                    </button>
                    }
                </center>
                }

            }
            else
            {
                <div class="alert alert-info alert-dismissible w-full text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i> Informacion!</h4>
                    No se encontraron resultados.
                </div>
            }

            <!-- /.box -->

        </div>

</section>
<!-- /.content -->


<h2>DisplayImages</h2>

<div class="jumbotron">
    <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
        <div id="previews" class="dz-message needsclick">

        </div>
    </form>
</div>