
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SVX.Models.Usuario
<style>
    .login-page {
        background: none !important;
        position: relative !important;
    }
</style>
@section scripts {

            @if (ViewBag.mensaje != null)
            {
<script>
                $(document).ready(function () {
                      Swal.fire(
                    'Bienvenido a SVX!',
                                '@ViewBag.mensaje',
                    'success'
                    );
                    console.log("hola");
                });

</script>
         }
       
        <script>



            $("#form-login").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    pass: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: "Este campo es requerido.",
                        email: "El correo no es valido"
                    },
                    pass: {
                        required: "Este campo es requerido.",
                    }
                },
                submitHandler: function (form) {

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data: $(form).serialize(),
                        url: '/Home/Login',
                        success: function (respuesta) {
                            if (respuesta.result === false) {
                                $.toast({
                                    heading: 'Bienvenido a SVX',
                                    text: 'El usuario o la contrasenia son incorrectos.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'warning',
                                    hideAfter: 3000,
                                    stack: 6
                                });
                            } else {
                                window.location.href = respuesta.result;
                            }
                        },
                        error: function () {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: 'Ocurrio un error al momento de conectarse.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3500

                            });
                        }
                    });
                }
            });
        </script>

    }

    <div class="hold-transition login-page my-35">
        <div class="container h-p100">
            <div class="row align-items-center justify-content-md-center h-p100">
                <div class="col-lg-3 col-md-8 col-12 d-none d-lg-block">
                    <div class="box mb-0 b-0 bg-transparent">
                        <div class="box-body login-slider p-0">
                            <div id="carousel-example-generic-captions" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img src="../../../images/producto-slider-1.jpg" class="img-responsive" alt="slide-1">           
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../images/producto-slider-2.jpg" class="img-responsive" alt="slide-2">                                        
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../images/producto-slider-3.jpg" class="img-responsive" alt="slide-3">                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="login-box bg-facebook">
                        <div class="login-box-body">
                            <h3 class="text-center">Entra para comenzar a</h3>
                            <p class="login-box-msg">publicar y conseguir articulos</p>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, htmlAttributes: new { @id = "form-login" }))
                            {
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(us => us.email, htmlAttributes: new { type = "email", @class = "form-control rounded", @required = "required", placeholder = "Email" })
                                    <span class="ion ion-email form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(us => us.pass, htmlAttributes: new { @class = "form-control rounded", @required = "required", placeholder = "Contraseña" })
                                    <span class="ion ion-locked form-control-feedback"></span>
                                </div>
                                <div class="row">                                     
                                    <!-- /.col -->
                                    <div class="col-12">
                                        <div class="fog-pwd text-center">
                                            <span>¿Olvidaste tu contraseña?</span>
                                            @Html.ActionLink("Recuperar contraseña", "RecuperarContrasenia", null, htmlAttributes: new { @class = "text-warning" })
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="col-12 text-center my-25">
                                        <button type="submit" class="btn btn-info btn-bold btn-block margin-top-10">Entrar</button>
                                    </div>
                                </div>

                            }                            

                            <div class="margin-top-30 text-center">
                                <p>
                                    ¿Aún no tienes cuenta? @Html.ActionLink("Registrarme", "Registrarme", null, htmlAttributes: new { @class = "text-warning" })
                                </p>
                            </div>

                        </div>
                        <!-- /.login-box-body -->
                    </div>
                    <!-- /.login-box -->

                </div>

            </div>
        </div>
    </div>


