
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SVX.Models.Usuario
<style>
    .login-page {
        background: none !important;
        position: relative !important;
    }
</style>
@section scripts {

            @if (ViewBag.mensaje != null)
            {
<script>
                $(document).ready(function () {
                      Swal.fire(
                    'Bienvenido a SVX!',
                                '@ViewBag.mensaje',
                    'success'
                    );
                    console.log("hola");
                });

</script>
         }
       
        <script>



            $("#form-login").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    pass: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: "Este campo es requerido.",
                        email: "El correo no es valido"
                    },
                    pass: {
                        required: "Este campo es requerido.",
                    }
                },
                submitHandler: function (form) {

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        data: $(form).serialize(),
                        url: '/Home/Login',
                        success: function (respuesta) {
                            if (respuesta.result === false) {
                                $.toast({
                                    heading: 'Bienvenido a SVX',
                                    text: 'El usuario o la contrasenia son incorrectos.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'warning',
                                    hideAfter: 3000,
                                    stack: 6
                                });
                            } else {
                                window.location.href = respuesta.result;
                            }
                        },
                        error: function () {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: 'Ocurrio un error al momento de conectarse.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 3500

                            });
                        }
                    });
                }
            });
        </script>

    }

    <div class="hold-transition login-page my-5">
        <div class="container h-p100">
            <div class="row align-items-center justify-content-md-center h-p100">
                <div class="col-lg-3 col-md-8 col-12 d-none d-lg-block">
                    <div class="box mb-0 b-0 bg-transparent">
                        <div class="box-body login-slider p-0">
                            <div id="carousel-example-generic-captions" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic-captions" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img src="../../../images/slider/slide-1.jpg" class="img-fluid" alt="slide-1">
                                        <div class="carousel-caption">
                                            <h3>First here</h3>
                                            <p>this is the subcontent you can use this</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../images/slider/slide-2.jpg" class="img-fluid" alt="slide-2">
                                        <div class="carousel-caption">
                                            <h3>Second here</h3>
                                            <p>this is the subcontent you can use this</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="../../../images/slider/slide-3.jpg" class="img-fluid" alt="slide-3">
                                        <div class="carousel-caption">
                                            <h3>Third here</h3>
                                            <p>this is the subcontent you can use this</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-12">
                    <div class="login-box">
                        <div class="login-box-body">
                            <h3 class="text-center">Get started with Us</h3>
                            <p class="login-box-msg">Sign in to start your session</p>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, htmlAttributes: new { @id = "form-login" }))
                            {
                                <div class="form-group has-feedback">
                                    @Html.TextBoxFor(us => us.email, htmlAttributes: new { type = "email", @class = "form-control rounded", @required = "required", placeholder = "Email" })
                                    <span class="ion ion-email form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    @Html.PasswordFor(us => us.pass, htmlAttributes: new { @class = "form-control rounded", @required = "required", placeholder = "Password" })
                                    <span class="ion ion-locked form-control-feedback"></span>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1">
                                            <label for="basic_checkbox_1">Remember Me</label>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-6">
                                        <div class="fog-pwd text-right">
                                            @Html.ActionLink("Se me olvido la contrasenia.", "RecuperarContrasenia", null, htmlAttributes: new { @class = "text-warning" })
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-info btn-block margin-top-10">SIGN IN</button>
                                    </div>
                                    <!-- /.col -->
                                </div>

                            }


                            <div class="social-auth-links text-center">
                                <p>- OR -</p>
                                <a href="#" class="btn btn-outline btn-light btn-social-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-outline btn-light btn-social-icon"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="btn btn-outline btn-light btn-social-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-outline btn-light btn-social-icon"><i class="fa fa-instagram"></i></a>
                            </div>
                            <!-- /.social-auth-links -->

                            <div class="margin-top-30 text-center">
                                <p>Don't have an account? @Html.ActionLink("Registrarme", "Registrarme", null, htmlAttributes: new { @class = "text-warning" }) </p>
                            </div>

                        </div>
                        <!-- /.login-box-body -->
                    </div>
                    <!-- /.login-box -->

                </div>

            </div>
        </div>
    </div>


