
@{
    ViewBag.Title = "MiPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SVX.Models.Usuario

@{ 
    SVX.Models.Usuario us = (SVX.Models.Usuario)Session["Usuario"];
}

<section class="content">
    <h1>Mi perfil</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-xl-6 col-lg-12 col-md-6">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Informacion de mi perfil.</h4>
                </div>
                <!-- /.box-header -->
                @using (Html.BeginForm("Registrarme", "Home", FormMethod.Post, htmlAttributes: new { id = "form-perfil", @class = "form-element", role = "form" }))
                {

                    <div class="box-body">
                        @Html.HiddenFor(u => u.idUsuario)
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(u => u.nombre, htmlAttributes: new { @class = "form-control", placeholder = "Nombre", @required = "required" })
                        </div>
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(u => u.apellido, htmlAttributes: new { @class = "form-control", placeholder = "Apellido", @required = "required" })
                        </div>

                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(u => u.email, htmlAttributes: new { type = "email", @class = "form-control", placeholder = "correo", @required = "required" })
                            <span class="ion ion-email form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(u => u.telefono, htmlAttributes: new { @class = "form-control telefono", placeholder = "Telefono", @required = "required" })
                        </div>
                        @Html.HiddenFor(u => u.estado, new { @Value = "0" })
                        <div class="form-group has-feedback">
                            <select id="idDepartamento" name="idDepartamento" class="form-control" required>
                                <option value="" disabled>Selecciona una opcion</option>

                                @foreach (var item in ViewBag.Departamentos)
                                {
                                    <option value="@item.idDepartamento" @((us.idDepartamento == item.idDepartamento) ? "selected" : "")>@item.nombre</option>

                                }

                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn  btn-danger">Guardar cambios</button>
                    </div>
                }


            </div>
            <!-- /.box -->
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Cambiar contraseña</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" class="form-element" id="enviarCorreo">
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" name="email" id="email" class="form-control rounded" placeholder="Enviar" required value="@us.email" readonly>

                            <div class="input-group-btn">
                                <button type="submit" name="submit" class="btn btn-warning">
                                    <i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>

                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

@section scripts {
    <script>
    
        $("#form-perfil").validate({
            rules: {
                idDepartamento: {
                    required:true

                },
                telefono: {
                    required:true
                },
                apellido: {
                    required:true
                },
                nombre: {
                    required:true
                },
                email: {
                    required: true,
                    email: true
                },
             
            },
            messages: {
                idDepartamento: {
                    required: "Este campo es requerido.",
                },
                telefono: {
                    required: "Este campo es requerido.",
                },
                apellido: {
                    required: "Este campo es requerido.",
                },
                nombre: {
                    required: "Este campo es requerido.",
                },
                email: {
                    required: "Este campo es requerido.",
                    email:"El correo no es valido"
                },
        
            },
            submitHandler: function (form) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: $(form).serialize(),
                    url: '/Home/ActualizarPerfil',
                    success: function (respuesta) {
                        if (respuesta.result === false) {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: respuesta.mensaje ,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'warning',
                                hideAfter: 3000,
                                stack: 6
                            });
                        } else {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: respuesta.mensaje,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'info',
                                hideAfter: 3000,
                                stack: 6
                            });
                        
                        }
                    },
                    error: function () {
                        $.toast({
                            heading: 'Bienvenido a SVX',
                            text: 'Ocurrio un error al momento de conectarse.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 3500

                        });
                    }
                });
            }
        });

        $("#enviarCorreo").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },

            },
            messages: {
                email: {
                    required: "Este campo es requerido.",
                    email: "El correo no es valido"
                },

            },
            submitHandler: function (form) {

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: $(form).serialize(),
                    url: '/Home/EnviarCorreoCambiarContra',
                    success: function (respuesta) {
                        if (respuesta.result === false) {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: respuesta.mensaje,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'warning',
                                hideAfter: 3000,
                                stack: 6
                            });
                        } else {
                            $.toast({
                                heading: 'Bienvenido a SVX',
                                text: respuesta.mensaje,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'info',
                                hideAfter: 3500

                            });
                        }
                    },
                    error: function () {
                        $.toast({
                            heading: 'Bienvenido a SVX',
                            text: respuesta.mensaje,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 3500

                        });
                    }
                });
            }
        });
    </script>

}
