<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Product Details
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Product Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    @{
        SVX.Models.Usuario us = (SVX.Models.Usuario)Session["Usuario"];

    }
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">

                            <div class="box box-body b-1 text-center text-center">
                                <img src="../../../images/product/product-6.png" id="product-image" class="img-fluid" alt="" />
                            </div>
                            <div class="pro-photos">
                                @{
                                    foreach (var item in @ViewBag.producto.Foto)
                                    {
                                        <div class="photos-item">
                                            <img src="~/archivos/@item.ruta" alt="">
                                        </div>
                                    }
                                }

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <h1 class="box-title mt-0">@ViewBag.producto.titulo</h1>
                            <h1 class="pro-price mb-0 mt-20">
                                @ViewBag.producto.precio.ToString("C2")

                            </h1>
                            <hr>

                            <p>@ViewBag.producto.descripcion</p>
                            <div class="box box-body">
                                <div class="flexbox align-items-center">
                                    <div class="flexbox">
                                        <label class="toggler toggler-yellow">
                                            <input type="checkbox" checked>
                                            <i class="fa fa-star"></i>
                                        </label>
                                        <h4 class="ml-10 mb-0">@ViewBag.producto.Usuario.nombre @ViewBag.producto.Usuario.apellido</h4>
                                    </div>

                                </div>
                                <div class="text-center pt-15">
                                    <div class="pull-left">
                                        <p class="avatar avatar-xxl rounded" style="font-size:70px;" alt="">@ViewBag.producto.Usuario.nombre.Substring(0, 1)</p>
                                    </div>
                                    <p class="user-info mt-0 mb-5"><i class="fa fa-envelope pr-15"></i> @ViewBag.producto.Usuario.email</p>
                                    <p class="user-info mt-0 mb-10"><i class="fa fa-phone pr-15"></i>@ViewBag.producto.Usuario.telefono</p>
                                    <div class="gap-items user-social font-size-16">
                                        <p>Vendedor rate:</p>
                                        <div class="rate" ></div>

                                    </div>
                                </div>
                            </div>


                            @if (us != null)
                            {
                                if (us.idUsuario == ViewBag.producto.idUsuario)
                                {
                                    <a href="#" class="btn btn-primary mr-5"><i class="mdi mdi-message"></i> Editar</a>

                                }
                                else
                                {
                                    <a href="/Home/Chat/@ViewBag.producto.idUsuario/@(ViewBag.conversacion == null?0:ViewBag.conversacion.idConversacion)" class="btn btn-info mr-5"><i class="mdi mdi-message"></i> Enviar Mensaje</a>

                                }
                            }
                            else
                            {
                                <a href="/Home/Chat/@ViewBag.producto.idUsuario/@(ViewBag.conversacion == null?0:ViewBag.conversacion.idConversacion)" class="btn btn-info mr-5"><i class="mdi mdi-message"></i> Enviar Mensaje</a>

                            }


                            <div class="col-sm-12 my-15">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Ubicacion</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="markermap" class="gmaps"></div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                        <hr>



                    </div>

                </div>
            </div>
        </div>
    </div>

    <h2 class="page-header">Related Products</h2>
    <div class="row fx-element-overlay">

        @foreach (var item in ViewBag.productosRelacionados)
        {
            string nombre = "";
            foreach (var foto in item.Foto)
            {
                nombre = foto.ruta;
                break;
            }
            <div class="col-md-12 col-lg-3">
                <div class="box box-default">
                    <div class="fx-card-item">
                        <div class="fx-card-avatar fx-overlay-1">
                            <img src="~/archivos/@nombre" alt="user">
                            <div class="fx-overlay scrl-dwn">
                                <ul class="fx-info">
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="~/archivos/@nombre"><i class="ion-search"></i></a></li>
                                    <li><a class="btn default btn-outline" href="~/Home/ProductDetails/@item.idAnuncio"><i class="ion-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="fx-card-content ribbon-wrapper-reverse">
                            <div class="ribbon ribbon-bookmark ribbon-right bg-info">@item.precio.ToString("C2")</div>
                            <p class="box-text text-bold">@item.titulo</p>

                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- /.box -->
    </div>

</section>
<!-- /.content -->
<script src="~/Scripts/rater.js" charset="utf-8"></script>
<script src="~/Scripts/js/demo.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTrPWo_dq1_LOkKHrf4uukvOdIUrmHPSE"></script>
<script src="~/assets/vendor_components/gmaps/gmaps.min.js"></script>
<script src="~/assets/vendor_components/gmaps/jquery.gmaps.js"></script>

<script type="text/javascript">
    $(function () {
        sessionStorage.setItem("nombreConver", '@ViewBag.producto.nombre');
        $('.icolors li').on("click", function () {
            $('.icolors li').removeClass('active');
            $(this).addClass('active');
        });
        $('#product-image').attr('src', $('.item-active').children().attr('src'));
        $('.photos-item').on("click", function () {
            var src = $(this).children().attr('src');
            $('#product-image').attr('src', src);
            $('.photos-item').removeClass('item-active');
            $(this).addClass('item-active');
        });
    

        $(document).ready(function () {
            var options = {
                max_value: 5,
                step_size: 0.5,
                initial_value: @ViewBag.rating,
                change_once: false,
            }

                    $(".rate").rate(options);
        $(".rate").on("change", function (ev, data) {
            var data = {
                valor: data.to,
                idUsuario: @ViewBag.producto.Usuario.idUsuario,
                idUsuarioPuntua: @((us == null)?0:us.idUsuario)
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                data: data,
                url: '/Home/rate',
                success: function (respuesta) {
                    if (respuesta.result === false) {
                        $.toast({
                            heading: 'Bienvenido a SVX',
                            text: respuesta.mensaje,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'warning',
                            hideAfter: 3000,
                            stack: 6
                        });
                    } else {
                        $.toast({
                            heading: 'Bienvenido a SVX',
                            text: respuesta.mensaje,
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'info',
                            hideAfter: 3000,
                            stack: 6
                        });
                    }
                },
                error: function () {
                    $.toast({
                        heading: 'Bienvenido a SVX',
                        text: 'Ocurrio un error al momento de conectarse.',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3500

                    });
                }
            });
        });
            map = new GMaps({
                el: '#markermap',
                lat: parseFloat(@ViewBag.producto.latitud),
                lng: parseFloat(@ViewBag.producto.longitud)

            });
            map.addMarker({
                lat: parseFloat(@ViewBag.producto.latitud),
                lng: parseFloat(@ViewBag.producto.longitud),
                title: 'Marker with InfoWindow',
                infoWindow: {
                    content: '<p>@ViewBag.producto.nombre</p>'
                }
            });
        });
    });
</script>
