<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Product Details
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item active">Product Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="box box-body b-1 text-center text-center">
                                <img src="../../../images/product/product-6.png" id="product-image" class="img-fluid" alt="" />
                            </div>
                            <div class="pro-photos">
                                <div class="photos-item item-active">
                                    <img src="../../../images/product/product-6.png" alt="">
                                </div>
                                <div class="photos-item">
                                    <img src="../../../images/product/product-7.png" alt="">
                                </div>
                                <div class="photos-item">
                                    <img src="../../../images/product/product-8.png" alt="">
                                </div>
                                <div class="photos-item">
                                    <img src="../../../images/product/product-9.png" alt="">
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <h2 class="box-title mt-0">@ViewBag.producto.titulo</h2>
                            <h1 class="pro-price mb-0 mt-20">
                                &#36;@ViewBag.producto.precio
                             
                            </h1>
                            <hr>

                            <p>@ViewBag.producto.descripcion</p>
                            <p>User rate:</p>
                            <ul class="list-unstyled">
                                <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </li>
                            </ul>
                            <a href="~/Home/Chat/@ViewBag.producto.idUsuario/@(ViewBag.conversacion == null?0:ViewBag.conversacion.idConversacion)" class="btn btn-primary mr-5"><i class="mdi mdi-message"></i> Enviar Mensaje</a>

                            <div class="col-sm-12 my-15">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Ubicacion</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div id="markermap" class="gmaps"></div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                            <hr>

                 
                      
                        </div>

                    </div>
                </div>
            </div>
        </div>
  
    <h2 class="page-header">Related Products</h2>
    <div class="row fx-element-overlay">

        @foreach (var item in ViewBag.productosRelacionados)
        {
            <div class="col-md-12 col-lg-3">
                <div class="box box-default">
                    <div class="fx-card-item">
                        <div class="fx-card-avatar fx-overlay-1">
                            <img src="../../../images/card/1.jpg" alt="user">
                            <div class="fx-overlay scrl-dwn">
                                <ul class="fx-info">
                                    <li><a class="btn default btn-outline image-popup-vertical-fit" href="../../../images/card/1.jpg"><i class="ion-search"></i></a></li>
                                    <li><a class="btn default btn-outline" href="~/Home/ProductDetails/@item.idAnuncio"><i class="ion-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="fx-card-content ribbon-wrapper-reverse">
                            <div class="ribbon ribbon-bookmark ribbon-right bg-info">@item.precio</div>
                            <p class="box-text text-bold">@item.titulo</p>

                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- /.box -->
    </div>

</section>
<!-- /.content -->

<script src="~/Scripts/js/demo.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTrPWo_dq1_LOkKHrf4uukvOdIUrmHPSE"></script>
<script src="~/assets/vendor_components/gmaps/gmaps.min.js"></script>
<script src="~/assets/vendor_components/gmaps/jquery.gmaps.js"></script>

<script type="text/javascript">
    $(function () {
        $('.icolors li').on("click", function () {
            $('.icolors li').removeClass('active');
            $(this).addClass('active');
        });

        $('.photos-item').on("click", function () {
            var src = $(this).children().attr('src');
            $('#product-image').attr('src', src);
            $('.photos-item').removeClass('item-active');
            $(this).addClass('item-active');
        });

        $(document).ready(function () {
            map = new GMaps({
                el: '#markermap',
                lat: parseFloat(@ViewBag.producto.latitud),
                lng: parseFloat(@ViewBag.producto.longitud)

            });
            map.addMarker({
                lat: parseFloat(@ViewBag.producto.latitud),
                lng: parseFloat(@ViewBag.producto.longitud),
                title: 'Marker with InfoWindow',
                infoWindow: {
                    content: '<p>@ViewBag.producto.nombre</p>'
                }
            });
        });
    });
</script>
